* { margin: 0; padding: 0;}

html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #111;
	color: #eee;
	/*font: caption;*/
}

canvas {
	display: block;
	margin: auto;
	/*width: 100%;*/
	/*height: 100%;*/
	/*object-fit: contain;*/
}


.fontPreloader {
	font-family: 'Mukta', sans-serif;
	position: absolute;
	left: -1000px;
	visibility: hidden;
}